@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

:root {
  --main-dark-style: #282828;
  --main-light-style: #fff;
  --main-active-style: #faad1b;
  --main-accent-style: #404040;
  --black: #212121;
  --button-inactive-style: #4543a6;
  --bluey-grey: #a0a1a9;
  --light-pink: #ffe0dc;
  --orange-pink: #ff654f;
  --colors-line-light-style: #dde8f1;
  --blue-grey: #8b8b8d;
  --pale: #feefd1;
  --very-light-pink: #ffeeed;
  --watermelon: #ff515c;
  --ice-blue: #e4f3fb;
  --dark-sky-blue: #48afe3;
  --blueberry: #373584;
  --light-grey-blue: #b0b1bb;
  --colors-background-group-style: #e3e5f1;
  --colors-background-select-style: #fff1d6;
  --colors-background-title-style: #f5f5fa;
  --colors-button-inactive-style: #cfd0dc;
  --colors-background-done-style: #defbf3;
  --colors-button-type-3-inactive-style: #8383bd;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

